attrs>=23.2.0
autogen-core>=0.4.8
autogen-ext[chromadb]>=0.4.8
chromadb>=0.5.5
fastapi>=0.115.0
httpx>=0.27.0
autogen-agentchat~=0.2
ag2[openai]
autogen
python-dotenv>=1.0.1
PyYAML>=6.0.2
uvicorn[standard]>=0.30.6
